# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store

# Project specifics
*.log
